<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287475777177-1hv5m7nucdo8gklkmuhsmsgj9636682u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287475777177-1hv5m7nucdo8gklkmuhsmsgj9636682u</string>
	<key>API_KEY</key>
	<string>AIzaSyABD8rLNVIyn631vwkR8QrJgIO1b4_iZR4</string>
	<key>GCM_SENDER_ID</key>
	<string>287475777177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vuboi.fitness</string>
	<key>PROJECT_ID</key>
	<string>vuboi-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>vuboi-fitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287475777177:ios:b9993067252f4ecd07c208</string>
</dict>
</plist>